/* media ََQuiry */

@media(max-width:768px)
{
    h1,h2,p,.lead
    {
        font-size: 20px;
    }
    .navbar-nav > li > a 
    {
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse
    {
        max-height: none;
    }
    
    .sup .form-control
    {
        margin: 20px auto;
    }
    .footer .social li
    {
/*        font-size: 30px;*/
    }
    .footer .copy
    {
        font-size: 15px;
    }
}


@media(min-width:769px)and (max-width:991px)
{

}


@media(min-width:992px)and (max-width:1199px)
{
    .footer .social li
    {
        font-size: 30px
    }

}


@media(max-width:1200px
{

}

